"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Don Petersen"
email = {{ .email | quote }}

[ui]
default-command = "log"
diff.tool = "delta"
diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]

[revset-aliases]
mylocal = "visible_heads() & mine()"

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
        "-c",
        "let g:jj_diffconflicts_marker_length=$marker_length",
        "-c",
        "JJDiffConflicts!",
        "$output",
        "$base",
        "$left",
        "$right",
]
merge-tool-edits-conflict-markers = true
