{{- if hasSuffix "@datavant.com" .email }}
if status is-interactive
    abbr -a dvawslogin "aws sso login --sso-session onedatavant"
    abbr -a dvawshelmlogin \
'aws --profile prod ecr get-login-password | \
        helm registry login \
        --username AWS \
        --password-stdin 283241578630.dkr.ecr.us-east-1.amazonaws.com'


    # So secure
    export NODE_EXTRA_CA_CERTS=$HOME/.config/certs/zscaler-ca.pem
end
{{- end }}
